<!doctype html>
<html lang=en data-color-scheme={{ color_scheme|json|safe }}>
<meta charset=utf-8>
<title>Project {{ project_dir|safe }} – http-horse</title>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet href=/style/main.css>

<div id=outer-main>
<header id=header-main>
  <h1>http-horse 🐴</h1>
  <h2>Project <code>{{ project_dir|safe }}</code></h2>
</header>

<div id=inner-main>

<section id=pages-and-their-resources>
<header><h3>Pages and their resources</h3></header>
<ul id=list-pages-and-their-resources>

<li class=page>
  <a data-file=/index.htm data-filetype=html href=#project-out-file-03ab2805><code data-filename>/index.htm</code></a>
  <ul class=list-page-resources>
    <li class=page-resource><a data-file=/js/main.js data-filetype=js href=#project-out-file-f10d571e><code data-filename>/js/main.js</code></a>
    <li class=page-resource><a data-file=/style/main.css data-filetype=css href=#project-out-file-ac346ecd><code data-filename>/style/main.css</code></a>
  </ul>

<li class=page>
<a data-file=/foo/bar.htm data-filetype=html href=#project-out-file-03bddc5a><code data-filename>/foo/bar.htm</code></a>
  <ul class=list-page-resources>
    <li class=page-resource><a data-file data-filetype=js href=#project-out-file-0c2cf224><code data-filename>/js/foobar.js</code></a>
    <li class=page-resource><a data-file data-filetype=css href=#project-out-file-6fc89e2d><code data-filename>/style/foobar.css</code></a>
    <li class=page-resource><a data-file data-filetype=js href=#project-out-file-f10d571e><code data-filename>/js/main.js</code></a>
    <li class=page-resource><a data-file data-filetype=css href=#project-out-file-ac346ecd><code data-filename>/style/main.css</code></a>
  </ul>

</ul>
</section>

<section id=history-recent-file-system-events>
<header><h3>Recent file system event history</h3></header>
<div id=history-entries>
<p>entry</p>
<p>entry</p>
<p>entry</p>
<p>entry</p>
<p>entry</p>
<p>entry</p>
<p>entry</p>
</div>
</section>

</div><!-- end of inner-main -->

</div><!-- end of outer-main -->

<script src=/js/main.js></script>
